// base

* { // debug
  // outline: 1px solid red;
  // background: rgba(#0F0, .05);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Liberation Sans', Arial, sans-serif;
}

main {
  background-color: $color-background-main;
  min-height: calc(100vh - 5rem);
  padding: .625rem;
}
