// arrows

.arrow {
  position: absolute;
  background: url(../images/icon-arrow.svg) no-repeat center center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &--left {
    transform-origin: left;
    transform: rotateY(180deg) translate(-50%, -50%);
  }

  &__control {
    height: 1.125rem;
    width: .625rem;
  }

  &__button {
    left: auto;
    right: 0;
    transform: translate(-150%, -50%);
    height: .85rem;
    width: .5rem;
  }
}
