// icons

.icon {
  + .icon {
    margin-left: .5rem;
  }

  &__options-selector {
    display: inline-block;
    fill: $color-theme-secondary;
    position: relative;
    height: 2rem;
    transition: fill .2s ease;
    width: 2rem;

    &:hover {
      fill: $color-theme;
    }

    &--disabled {
      fill: $color-icon;

      &::after {
        height: 2rem;
        width: 2rem;
        top: 0;
        left: 0;
        position: absolute;
        content: url(./../images/icon-disabled.svg);
      }
    }
  }

  &__check2 {
    position: relative;

    &::before {
      background: url(./../images/icon-check-circle.svg);
      height: 1.125rem;
      width: 1.125rem;
      position: absolute;
      top: .6rem;
      right: .6rem;
    }
  }

  &__check1 {
    background: url(./../images/icon-check.svg);
    height: .875rem;
    width: .875rem;
  }

  &__printer {
    background: url(./../images/icon-printer.svg);
    height: 2rem;
    margin-right: .5rem;
    width: 2rem;
  }

  &__weight {
    background: url(./../images/icon-weight.svg);
    height: .91rem;
    width: 1.75rem;

    &--disabled {
      background: url(./../images/icon-weight-disabled.svg);
    }
  }

  &__ios {
    background: url(./../images/icon-ios-apple.svg);
    height: 1.3rem;
    width: 1.3rem;
    position: absolute;
    top: .2rem;
    left: .7rem;
  }

  &__android {
    background: url(./../images/icon-android-os.svg);
    height: 1.4rem;
    width: 1.4rem;
    position: absolute;
    top: .2rem;
    left: .7rem;
  }
}
