// icons

.icon {
  &__options-selector {
    display: inline-block;
    fill: $color-theme-secondary;
    position: relative;
    height: 2rem;
    width: 2rem;

    &--disabled {
      fill: $color-icon;

      &::after {
        height: 2rem;
        width: 2rem;
        top: 0;
        left: 0;
        position: absolute;
        content: url(./../images/icon-disabled.svg);
      }
    }
  }

  &__check2 {
    position: relative;

    &::before {
      content: url(./../images/icon-check-circle.svg);
      height: 1.125rem;
      width: 1.125rem;
      position: absolute;
      top: .6rem;
      right: .6rem;
    }
  }

  &__printer {
    content: url(./../images/icon-printer.svg);
    height: 2rem;
    margin-right: .5rem;
    width: 2rem;
  }

  &__weight {
    content: url(./../images/icon-weight.svg);
    height: .91rem;
    width: 1.75rem;

    &--disabled {
      content: url(./../images/icon-weight-disabled.svg);
    }
  }
}
