// options-selector

.options-selector {
  list-style: none;
  margin: 0;
  padding: 0;

  &__container {
    @media (max-width: 992px) {
      order: 3;
      margin: auto;
    }
  }

  &__item {
    cursor: pointer;
    display: inline-block;

    + .options-selector__item {
      margin-left: .4rem;
    }
  }
}
