// period-selector

.period-selector {
  font-size: 3em;
  color: $color-theme;
  font-weight: normal;
  line-height: 2.75rem;
  margin: 0 1.84rem;
  width: 11.8rem;
  text-align: center;

  &__container {
    display: flex;
    height: 2.75rem;
    margin-left: 4%;
    padding-top: .8rem;
    width: 23rem;

    @media (max-width: 992px) {
      order: 1;
      margin: auto;
      width: auto;
    }
  }

  &__control {
    height: 2.75rem;
    line-height: 2.75rem;
    margin-top: -.25rem;
    width: 1.5625rem;
    border: 1px solid $color-icon;
    border-radius: .4rem;
    position: relative;
    transition: box-shadow .25s ease;

    &:hover {
      box-shadow: 0px 0px 20px 5px rgba($color-theme, .2);
    }
  }
}
