// period-selector

.period-selector {
  font-size: 3em;
  color: $color-theme;
  font-weight: normal;
  line-height: 2.75rem;
  margin: 0 1.84rem;
  width: 11.9rem;
  text-align: center;

  &__container {
    display: flex;
    height: 2.75rem;
    margin-left: 4%;
    padding-top: .8rem;
    width: 23rem;

    @media (max-width: 992px) {
      order: 1;
      margin: auto;
      width: auto;
    }
  }

  &__control {
    height: 2.75rem;
    margin-top: -.25rem;
    width: 1.6rem;
    padding-left: 0;
    padding-right: 0;
  }
}
