// table

.table {
  color: $color-font-main;
  display: flex;
  font-family: Arial, sans-serif;
  font-size: .8125em;
  line-height: 1.35;
  letter-spacing: .5px;

  @media (max-width: 992px) {
    flex-direction: column;
    max-width: 480px;
    margin: auto;
  }

  &__column {
    flex-grow: 30;
    flex-basis: 0;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;

    + .table__column {
      border-left: 2px solid $color-border-table;

      @media (max-width: 992px) {
        border: 2px solid $color-border-table;
      }
    }

    &--lead {
      flex-grow: 21;
      font-family: 'Liberation Sans', Arial, sans-serif;

      .table__row {
        @include center;
        @include wavy-bg;
      }

      @media (max-width: 992px) {
        display: none;
      }
    }

    &--active {
      .table__row:nth-child(n+2):nth-child(-n+6) {
        color: black;
      }

      &.table__column--active {
        border-bottom-color: $color-theme;
        border-left-color: $color-theme;
        border-top-color: $color-theme;
      }

      + .table__column {
        border-left-color: $color-theme;
      }

      @media (max-width: 992px) {
        &.table__column--active {
          border: 2px solid $color-theme;
        }

        + .table__column {
          border-left-color: $color-border-table;
        }
      }
    }
  }

  &__row {
    background: $color-background-nav;
    height: $height-cell;
    padding: .6rem .1rem .6rem .8rem;
    position: relative;

    @media (max-width: 992px) {
      text-align: center;
      padding: 2% 0;
    }

    + .table__row {
      border-top: 2px solid $color-border-table;
    }

    &--header {
      @include center;
      color: $color-theme-secondary;
      font-family: 'Liberation Sans', Arial, sans-serif;
      font-size: 1.85em;
      font-weight: bold;
      height: 3.125rem;
      padding: 0;
      text-transform: uppercase;
    }

    &--med {
      @include center;
      @include wavy-bg;
      height: calc-height(2, $height-cell--small);
      font-size: 1.385em;
      padding: 0;
    }

    &--small {
      @include center;
      @include wavy-bg;
      height: 2.1875rem;

      .table__column:not(.table__column--lead) & {
        font-size: .85em;
        text-transform: uppercase;
      }
    }

    &--height5x {
      height: calc-height(5, $height-cell);

      @media (max-width: 992px) {
        height: calc-height(2, $height-cell);
      }
    }
  }
}
