// table

.table {
  color: $color-font-main;
  display: flex;
  font-family: Arial, sans-serif;
  font-size: .8125em;
  line-height: 1.35;
  letter-spacing: .5px;

  &__column {
    flex-grow: 30;
    flex-basis: 0;

    + .table__column {
      border-left: 2px solid $color-border-table;
    }

    &--lead {
      flex-grow: 21;
      font-family: 'Liberation Sans', Arial, sans-serif;

      .table__row {
        @include center;
        @include wavy-bg;
      }
    }
  }

  &__row {
    background: $color-background-nav;
    height: $height-cell;
    padding: .6rem .1rem .6rem .8rem;

    + .table__row {
      border-top: 2px solid $color-border-table;
    }

    &--header {
      @include center;
      color: $color-theme-secondary;
      font-family: 'Liberation Sans', Arial, sans-serif;
      font-size: 1.85em;
      font-weight: bold;
      height: 3.125rem;
      padding: 0;
      text-transform: uppercase;
    }

    &--med {
      @include center;
      @include wavy-bg;
      height: calc-height(2, $height-cell--small);
      font-size: 1.385em;
      padding: 0;
    }

    &--small {
      @include center;
      @include wavy-bg;
      height: 2.1875rem;

      .table__column:not(.table__column--lead) & {
        font-size: .85em;
        text-transform: uppercase;
      }
    }

    &--5x {
      height: calc-height(5, $height-cell);
    }
  }
}


.img-ins {
  position: relative;

  &::after {
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0;
    content: '';
    left: 0;
    height: 80%;
    position: absolute;
    width: 100%;
  }

  &__cup1::after {
    background: url(./../images/cup1.png) center;
  }

  &__cup2::after {
    background: url(./../images/cup2.png) center;
  }

}
