// helpers

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin wavy-bg {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAADCAYAAACqPZ51AAAAMUlEQVQYV2N89+7dfwYo+Pz5M4wJpnl5eeF8RphCkCJkCZAKZDHGhw8fgk1EV4RuCwBSUBc4rD5AZgAAAABJRU5ErkJggg==) repeat;
}

.hidden {
  display: none;
}

.center {
  @include center;
}

.caret {
  color: $color-icon;
  font-size: .6em;
  margin-left: .5rem;
}

.row-aside {
  color: $color-theme;
  position: absolute;
  left: 1rem;
  top: 50%;
  opacity: .5;
  transform-origin: left;
  transform: translateY(-50%) scale(1.4);
}

.img-ins {
  position: relative;

  &::after {
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0;
    content: '';
    left: 0;
    height: 80%;
    position: absolute;
    width: 100%;
  }

  &__cup1::after {
    background: url(./../images/cup1.png) no-repeat center;
  }

  &__cup2::after {
    background: url(./../images/cup2.png) no-repeat center;
  }

}
