// variables

$color-theme: #ff801a;
$color-theme-secondary: #b2c200;

$color-font-nav: #7c7c7c;
$color-font-main: #828282;
$color-font-strong: #000;

$color-background-nav: #fff;
$color-background-main: #f9f9f9;
$color-nav-shadow: #e1e1e1;

$color-icon: #bababa;

$width-main-container: 61.125rem;
