// dashboard

.dashboard {
  &__container {
    max-width: $width-main-container;
    margin: 1rem auto 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;

    @media (max-width: 992px) {
      flex-direction: column;
    }
  }

  &__body {
    margin-top: 1rem;
  }
}
